@using System.Linq
@model IEnumerable<Feed_Bridge.Models.Entities.Product>

@{
    ViewData["Title"] = "المنتجات";
}

<section class="products-hero">
    <div class="products-hero-container"> 
        <h1>طعام في انتظار من يستحق</h1> 
        <p> 
            هنا تجد قائمه بالاطعمه المتاحه للتبرع, المقدمه من المطاعم و المتبرعين للمساهمه في تقليل الهدر و مساعده المحتاجين.
            يتم تحديث القائمه باستمرار لضمان وصول الطعام الطازج لمن يستحق. اذا كنت جزءا من جمعيه خيريه , يمكنك حجز التبرعات المتاحه بسهوله. 
        </p> 
    </div> 
    </section>

<section class="products-cards">
    <h2 class="products-header">المنتجات</h2>
    <div class="products-cards-container">
        @if (Model != null && Model.Any())
        {
            @foreach (var product in Model)
            {
                <div class="product-card">
                    <img src="~/uploads/@(product.ImgURL ?? "img.png")" alt="food" />
                    <div class="product-card-text">
                        <h2>@product.Name</h2>
                        @* <p>@(string.IsNullOrEmpty(product.Description) ? "لا يوجد وصف" : product.Description)</p> *@
                        <span class="exp-date" style="color: red;">تاريخ الانتهاء : </span>
                        <span>@product.ExpirDate.ToString("yyyy/MM/dd")</span>
                        <form asp-controller="Cart" asp-action="Add" method="post">
                            <input type="hidden" name="productId" value="@product.Id" />
                            <button type="submit" class="btn add-to-cart-btn">اضف الي السله</button>
                        </form>
                    </div>
                </div>
            }
        }
        else
        {
            <p style="text-align:center; font-size:18px; margin:20px;">
                لا توجد منتجات متاحة حالياً.
            </p>
        }
    </div>
</section>


@section FooterSection {
    @await Html.PartialAsync("_Footer")
}
