@model Feed_Bridge.ViewModel.ResetPasswordModelView

<form method="post" asp-action="ResetPassword" asp-controller="UserController">
    <div class="container email-signup-container">
        <div class="email-form-card">
            <h2 class="form-header">استرجاع كلمة المرور</h2>

            <div class="form-control">
                <label for="email">البريد الإلكتروني</label>
                <input type="email" id="email" name="Email" placeholder="you@example.com" value="@Model.Email" required />
            </div>

            <div class="form-control">
                <label for="newPassword">كلمة المرور الجديدة</label>
                <input type="password" id="newPassword" name="NewPassword" placeholder="كلمة المرور الجديدة" required />
            </div>

            <input type="hidden" name="Token" value="@Model.Token" />

            <button type="submit" class="btn">متابعة</button>
        </div>
    </div>
</form>
