<style>
    footer.footer {
        position: fixed;
        bottom: 0;
        padding: 15px;
        box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    }
</style>
<footer class="footer">
    <div class="footer-container">
        <div>سياسة الخصوصية</div>
        <div>الشروط والأحكام</div>

        <div class="footer-contact">
            <p>الشكاوي والاقتراحات</p>
            <form class="footer-form">
                <input type="text" placeholder="اكتب رسالتك..." />
                <button>
                    ارسال
                    <span class="material-symbols-outlined"> check </span>
                </button>
            </form>
        </div>

        <div>
            <p>تواصل معنا</p>
            <div class="footer-social">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-solid fa-globe"></i>
            </div>
        </div>
    </div>

    <p class="copy-rights">جميع الحقوق محفوظة لمنصة FeedBridge</p>
</footer>
