@{
    ViewData["Title"] = "سلة المنتجات";
}

<div class="cart-section">
    <h2 class="cart-header">سله المنتجات</h2>
    <div class="cart-container">
        <!-- هنا هيتضاف الداتا بتاعة المنتجات من السكريبت -->
    </div>
    <button class="btn confirm-order">تأكيد الطلب</button>
</div>
